---

---

<section
    id="contact"
    class="min-h-screen bg-indigo-100 grid place-items-center">

    <h2 class="text-6xl font-fredoka font-medium text-center pt-20 text-blue-900 mb-5 md:mb-0">
        Contacto
    </h2>
    <div>
        <ul>
            <li>
                E-mail: 
                <a class="underline" href="mailto:contacto@mltognola.com">contacto@mltognola.com</a> 
            </li>
            <li>Telefono: 
                <a class="underline" href="tel:+34652586533">(+34) 652586533</a></li>
        </ul>
    </div>
</section>

