---

---

<section id="hero" class="bg-orange-100 relative grid min-h-screen place-items-center  sm:grid-cols-2">
    <div class="text-center">
        <img class="logo" src="/images/logo.png" alt="">
        <h1 id="title" class="title text-5xl drop-shadow text-white font-bold mb-3">María Laura Tognola</h1>
        <h2 class="text-4xl tracking-[0.5em] text-red-400">portfolio</h2>
    </div>
    <div>
        <img class="mx-auto w-2/3" src="/hero-image.svg" alt="">
    </div>
</section>

<style>
    .logo{
        display: inline-block;
        width: 100px;
        margin: 0 auto 3em;
    }
    .title{
        font-family: 'Playfair Fisplay';
    }

</style>