---
let clients = [
	{
		name: "Bacacay",
		dates: "Desde Octubre/22",
		images: [
			"/images/screenshots/bacacay-1.jpeg",
			"/images/screenshots/bacacay-2.jpeg",
			"/images/screenshots/bacacay-3.jpeg",
			//"/images/stories/2.png",
		],
	},
	{
		name: "4Elementos",
		dates: "Desde Junio/23",
		images: [
			"/images/screenshots/4elementos-1.jpeg",
			"/images/screenshots/4elementos-2.jpeg",
			"/images/screenshots/4elementos-3.jpeg",
		],
	},
	{
		name: "Halobar",
		dates: "Desde Noviembre/23",
		images: [
			"/images/screenshots/halobar-1.jpeg",
			"/images/screenshots/halobar-2.jpeg",
			"/images/screenshots/halobar-3.jpeg",
		],
	},
	{
		name: "La Gamba Blanca",
		dates: "Desde Junio/23 hasta Marzo/24",
		images: [
			"/images/screenshots/lagamba_1.jpeg",
			"/images/screenshots/lagamba_2.jpeg",
		],
	},
	{
		name: "Abaco",
		dates: "Desde Septiembre/22 hasta Octubre/22",
		images: [
			"/images/screenshots/3.png",
			"/images/screenshots/4.png",
			"/images/screenshots/10.png",
		],
	},
	/* {
        name: '',
        dates: '',
        images: ''
    },*/
];
---

<article
	id="portfolio"
	class="min-h-screen py-10 bg-orange-100">
	<h2
		class="text-6xl text-center font-fredoka font-medium text-blue-900 pt-20 mb-10">
		Mis trabajos
	</h2>

	{
		clients.map((client) => (
			<article>
				<h3 class="text-2xl text-center font-fredoka font-medium text-blue-900 pt-20">
					{client.name}
				</h3>
				<h3 class="text-xl text-center font-fredoka font-medium text-gray-600/50 mb-10">
					{client.dates}
				</h3>

				<div class="l-slider flex sm:justify-center">
					{client.images.map((image) => (
						<div class="l-slide mx-3 sm:mx-10 max-w-xs shadow-lg rounded-lg overflow-hidden">
							<img
								src={image}
								alt=""
							/>
						</div>
					))}
				</div>
			</article>
		))
	}

	<!--div class="absolute top-0 left-0 w-full h-full l-gradient">
                <button id="atras">ATRAS</button>
            </div-->
</article>

<style>
	.l-slider {
		overflow: auto;
		display: flex;
		scroll-snap-type: x mandatory;
	}
	.l-slider::-webkit-scrollbar {
		width: 0px;
		background: transparent;
	}

	.l-slide {
		flex-shrink: 0;
		display: flex;
		align-items: center;
		scroll-snap-align: start;
		scroll-behavior: smooth;
		height: 550px;
	}
	/*  
    .l-slide img {
        height: 500px;
    }

    .l-gradient{
        background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(153,153,153,0) 50%, rgba(255,255,255,1) 90%);
    }*/
</style>

<!--script is:inline>
    const button = document.getElementById("atras");
    const slider = document.getElementById("slider");
    const slides = slider.children;
    let index = 0;

    button.addEventListener("click", () => {
        index+=2;
        if (index > slides.length-1) {
            index = 0;
        }
        slides[index].scrollIntoView({
            behavior: "smooth",
        });
    });
</script-->
