---
---

<section id="servicios" class="min-h-screen bg-green-50 grid place-items-center">
    <h2 class="text-6xl text-center pt-20 text-blue-900 mb-5 md:mb-0">Servicios</h2>
    <div id="cards" class="place-items-center grid md:grid-cols-2 gap-10">
        <div
            class="my-5 md:my-0 w-8/12 border-green-200 border-2 rounded-lg p-10"
        >
            <h2 class="text-3xl text-center text-blue-900">Estrategias</h2>
            <p class="mt-3 leading-7">
                Implementación y desarrollo de estrategias en redes socilales
                (Facebook e Instagram)
            </p>
        </div>
        <div
            class="my-5 md:my-0 w-8/12 border-green-200 border-2 rounded-lg p-10"
        >
            <h2 class="text-3xl text-center text-blue-900">
                Atención al Cliente
            </h2>
            <p class="mt-3 leading-7">
                Responder mensajes, comentarios, menciones.. Retuitear, dar
                like.
            </p>
        </div>
        <div
            class="my-5 md:my-0 w-8/12 border-green-200 border-2 rounded-lg p-10"
        >
            <h2 class="text-3xl text-center text-blue-900">Monitorización</h2>
            <p class="mt-3 leading-7">
                De todas las acciones para medir la efectividad de cada una.
            </p>
        </div>
        <div
            class="my-5 md:my-0 w-8/12 border-green-200 border-2 rounded-lg p-10"
        >
            <h2 class="text-3xl text-center text-blue-900">Contenido</h2>
            <p class="mt-3 leading-7">
                Planificación, diseño y publicación de contenidos en redes
                sociales (feed, reels, historias, etc) Fotografías para el
                contenido
            </p>
        </div>
    </div>
</section>
<script>
    const cards = document.querySelector("#cards") as HTMLElement;
    for (let i = 0; i < cards.children.length; ++i) {
        let card = cards.children[i] as HTMLElement;
        card.classList.add("transition-all");
        hideElement(card)
    }

    hideTransition(cards.children);
   
</script>
